1 VERSIONINFO
FILEVERSION 0,5,0,0
PRODUCTVERSION 0,5,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Jikoac Games"
            VALUE "FileDescription", "The third iteration of Zapolemos Lite.\r\nThe original 2 versions were written in MicroPython.\r\nThis is the first version written in C++."
            VALUE "ProductName", "Zapolemos Lite 3 (Preview)"
        END
    END
END
GAMEICON ICON "c:\Users\grant\Documents\Programs\Games\Zapolemos Lite 3\Icons\preview\icon.ico"
OLDGAMEICON ICON "c:\Users\grant\Documents\Programs\Games\Zapolemos Lite 3\Icons\preview\iconOutdated.ico"
VERSIONICON ICON "c:\Users\grant\Documents\Programs\Games\Zapolemos Lite 3\Icons\preview\iconVersion.ico"
HEROICON ICON "c:\Users\grant\Documents\Programs\Games\Zapolemos Lite 3\Icons\preview\iconHero.ico"
STRINGTABLE
BEGIN

    1, "0.5.0.0 Preview"
    2, "Zapolemos Lite 3 (Preview)"

    101, "Version: "
    102, "Name: "

	201, "C:\Users\grant\Executables\Heroes\\"
END